.animatedLogo {
  position: relative;
  width: 25rem;
  @include media-md {
    width: 15rem;
    margin: 2rem 0 18rem;
  }
  @include media-sm {
    width: 100%;
    margin: 2rem 0 22rem;
  }
  &__solid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: rotate(4deg) translateY(-50%);
    opacity: 0;
    z-index: 1;
    animation: fadeIn 1s forwards 3.8s;
    @include media-md {
      transform: rotate(4deg) translateY(0);
    }
  }
  svg {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(4deg) translateY(-50%);
    @include media-md {
      transform: rotate(4deg) translateY(0);
    }

    text {
      fill: transparent;
      opacity: 0;
      stroke: #ffd700;
      animation: textAnimation 5s ease-in-out;

      @keyframes textAnimation {
        0% {
          stroke-dasharray: 0 50%;
          stroke-dashoffset: 20%;
          opacity: 1;
        }
        65% {
          stroke-dasharray: 50% 0;
          stroke-dashoffset: -20%;
          opacity: 1;
        }
        100% {
          stroke-dasharray: 50% 0;
          stroke-dashoffset: -20%;
          opacity: 0;
        }
      }
    }
  }
}
