.text-animate {
  display: inline-block;
  min-width: 10px;
  opacity: 0;
  animation: bounceIn 1s forwards var(--delay);
}
.text-animate-hover {
  min-width: 10px;
  opacity: 1;
  display: inline-block;
  &:hover {
    color: $yellow1;
    animation: rubberBand 1s both;
  }
}
