$white: #fff;
$black: #181818;
$dark1: #022c43;
$dark2: #115173;
$dark3: #115173;
$darkFade: #08fdd81a;
$gray1: #444;
$gray2: #8d8d8d;
$gray3: #b1acac;
$gray4: #4d4d4e;
$grayFade: #ffffff66;
$yellow1: #ffd700;
$yellow2: #f1f134;
$yellow3: #e2c936;
$yellowLight: #ffffe0;
$tag1: #f2c986;
$tag2: #bad6f5;
$tag3: #e1c1c1;
$tag4: #eadd86;
$green: #0ec704;
$red: #dd0031;
$orange1: #e95329;
$orange2: #e23629;
$blue: #2b61d7;
$skyblue: #33b4ec;
